<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527378270196-qfo9586hiv459tt27m7h4b3ete69kj7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527378270196-qfo9586hiv459tt27m7h4b3ete69kj7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>527378270196-kkusijc3102vv961n5mcnt4k60b650pd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAg0QgRjb_W5f9hHimo1IdcLgonj7CMSk</string>
	<key>GCM_SENDER_ID</key>
	<string>527378270196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creatureofsonaria</string>
	<key>PROJECT_ID</key>
	<string>creature-1e5ce</string>
	<key>STORAGE_BUCKET</key>
	<string>creature-1e5ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527378270196:ios:dde0c541b410bdac039ba1</string>
	<key>DATABASE_URL</key>
	<string>https://creature-1e5ce-default-rtdb.firebaseio.com</string>
</dict>
</plist>